.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.header {
  flex: 0 0 auto;
  padding: 2em 0 0 1.5em;
  border-bottom: 1px solid #010101;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  padding: 1em 0 2em 1.5em;
  text-align: center;
}
